@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz@0,8..144;1,8..144&family=Spectral&display=swap');

html {
  background-color: #ffc017;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc017;
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'roboto', sans-serif;

  /* position sticky--------------------------------------------------------------------------- */
}
#logo {
  margin-left: 70px;
}

#m {
  position: absolute;
  right: 0;
  top: 0;
  height: 750px;
  width: 750px;
  transform: translateY(-180px);
  z-index: -1;
}

ul {
  display: inline;
  justify-self: flex-end;
  list-style: none;
}

ul li {
  display: inline;
  text-wrap: nowrap;
}

li {
  margin-left: 20px;
}

button {
  margin-right: 15px;
  border-radius: 15px;
  width: 90px;
  height: 30px;
  background-color: black;
  color: white;
  margin-right: 70px;
}

a {
  text-decoration: none;
  color: black;
}

svg {
  position: absolute;
}

#StayCurious {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 70%;
}
#StayCurious,
svg {
  background-color: #ffc017;
}
h2 {
  font-size: 5em;
  position: relative;
  font-weight: bold;
}
#HeroWrapper {
  margin: auto 0;
  position: absolute;
  top: 150px;
  left: 100px;
}
#HeroWrapper p {
  font-size: 25px;
  padding-top: 15px;
  font-weight: bold;
}
#HeroWrapper button {
  border-radius: 15px;
  width: 150px;
  font-size: 15px;
  position: relative;
  top: 50px;
  left: 20px;
}
#trending {
  position: absolute;
  bottom: 28px;
}
main {
  background-color: white;
}
